<% include partials/landingHeader %>
<div class="mainSection">
    <div id="landing-header">
        <h1 class="newText">Welcome to Haakim Roberts<br> Photo Gallery</h1>
        <a href="/photos">View All Photos</a>
    </div>
</div>
<% include partials/footer %>