body {
    background: #bec5d1;
    font-family: 'BioRhyme', serif;
}
.delete-form{
    display: inline;
    margin-right: 30%;
}
.formContainer {
	width: 30%; 
	margin: 30px auto;
}
.newText {
    color: white;
    text-align: center;
}
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full{
    padding: 9px;
}